header {
	height: 120px;
	background-image: url('/dark2.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left 40px top 0;
	box-shadow: #4a8b53 0px 0px 10px;
	position: relative;
}

header h1 {
	text-align: center;
	margin: 0;
	padding-top: 30px;
	font-size: 50px;
}
