.userItem {
  display: flex;
  align-items: center;
  width: fit-content;
}

.userItem-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px;
}

.userItem-pseudo {
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Sand clock */
.invite-sent {
  display: inline-block;
  width: 24px;
  margin-left: 8px;
}

.sand {
  &-top,
  &-bottom,
  &-clock {
    will-change: transform;
    transform-origin: 50% 30px;
  }
  
  &-clock {
    animation: clock 3s 1.25s ease-in-out infinite;
    transform-origin: 50% 50%;
    height: 16px;
    fill: #4a8b53;
  }
  
  &-top {
    animation: clock-sand-top 3s ease-in-out infinite;
  }
  
  &-bottom {
    animation: clock-sand-bottom 3s ease-in-out infinite;
    transform: scale(0);
  }
}

@keyframes clock {
  20%, 50% {
    transform: rotate(180deg); 
  }
  
  70%, 100% {
    transform: rotate(360deg); 
  }
}

@keyframes clock-sand-top {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(0);
  }
  
  100% {
    transform: scale(1);
  }
}

@keyframes clock-sand-bottom {
  0% {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(0);
  }
}

.invite-received {
  width: 24px;
  margin-left: 8px;
}
