@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: #131410;
	color: #4a8b53;
}

body,
input,
button {
	font-family: 'Sixtyfour', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		'BLED' 0,
		'SCAN' 0;
}

a,
a:hover {
	color: #4a8b53;
	text-decoration: none;
}

input {
	background-color: #000000;
	color: #88ff88;
	border-top: 1px solid #222222;
	border-left: 1px solid #222222;
	border-right: 1px solid #224422;
	border-bottom: 1px solid #224422;
	margin: 10px;
}

input:focus-visible {
	outline: 1px solid #88ff88;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 50px #000000 inset; /* Change the color to your own background color */
	-webkit-text-fill-color: #88ff88;
}
